.row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card{
    margin-top: 100px;
    margin-left: 35px;
    border-radius: 10px;
    width: 150px;
    height: 200px;
    box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
    border: 1px solid #ccc;
    position: relative;
    text-align: center;
    background: #FFFFFF;

  }
  img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    left: 25px;
    right: 25px;
    border-radius: 100px;
  }
  p{
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: center;
    padding: 10px;
    font-weight: 900;
  }
  h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #6A4029;
    
  }
